@import url('https://fonts.googleapis.com/css2?family=Open+Sans:ital,wght@0,300;0,400;0,600;0,700;0,800;1,300;1,400;1,600;1,700;1,800&family=PT+Serif:ital,wght@0,400;0,700;1,400;1,700&display=swap');
@font-face {
    font-family: 'mooningdebris';
    src: url('../fonts/mooningdebris.eot?lbz0lp');
    src: url('../fonts/mooningdebris.eot?lbz0lp#iefix') format('embedded-opentype'), url('../fonts/mooningdebris.ttf?lbz0lp') format('truetype'), url('../fonts/mooningdebris.woff?lbz0lp') format('woff'), url('../fonts/mooningdebris.svg?lbz0lp#mooningdebris') format('svg');
    font-weight: normal;
    font-style: normal;
    font-display: block;
}

[class^="moodbrs-"],
[class*=" moodbrs-"] {
    /* use !important to prevent issues with browser extensions that change fonts */
    font-family: 'mooningdebris' !important;
    speak: never;
    font-style: normal;
    font-weight: normal;
    font-variant: normal;
    text-transform: none;
    line-height: 1;
    /* Better Font Rendering =========== */
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
}

.moodbrs-Dark:before {
    content: "\da1";
}

.moodbrs-Light:before {
    content: "\da2";
}

.moodbrs-About .path1:before {
    content: "\c2";
    color: rgb(0, 0, 0);
}

.moodbrs-About .path2:before {
    content: "\c3";
    margin-left: -1em;
    color: rgb(0, 0, 0);
}

.moodbrs-About .path3:before {
    content: "\c4";
    margin-left: -1em;
    color: rgb(255, 255, 255);
}

.moodbrs-About .path4:before {
    content: "\c5";
    margin-left: -1em;
    color: rgb(255, 255, 255);
}

.moodbrs-Articles:before {
    content: "\b1";
}

.moodbrs-Articles_Latest:before {
    content: "\b2";
}

.moodbrs-Authors:before {
    content: "\c1";
}

.moodbrs-News:before {
    content: "\a1";
}

.moodbrs-News_Latest:before {
    content: "\a2";
}


/* Configuración */

* {
    margin: 0;
    padding: 0;
    border: 0;
    box-sizing: border-box;
    text-decoration: none;
    scroll-behavior: smooth;
}

body {
    --accent-color: #3035e8;
    --accent-contrast: white;
    --accent-border: #161cca;
    --background-color: #f3f3f3;
    --background-color-header: white;
    --background-items-header: #f8f8f8;
    --background-footer: black;
    --color-footer: white;
    --description-footer: #929292;
    --text-color: black;
    --button-background: #3035e8;
    --button-background-hover: #161cca;
    --text-navigation: #A3A3A3;
    --text-description: #141414;
    --transition-dark-delay: .5s;
    --logo: url(/img/logos/logo.png);
    --text-color-list: #3035e8;
    --background-color-list: #EDEDFD;
    --img-shadow-card: rgba(100, 100, 100, 0.3);
    --filter-brightness: brightness(1);
    --brightness-hover: brightness(1);
    /* VARIABLES */
    background-color: var(--background-color);
    transition: var(--transition-dark-delay);
    color: var(--text-color);
    font-family: "Open Sans";
}

body.dark {
    --accent-color: #A3A6F5;
    --accent-contrast: #A3A6F5;
    --accent-border: #7E82F1;
    --background-color: #121417;
    --background-color-header: #15171A;
    --background-items-header: #14161a;
    --background-footer: #090A0B;
    --color-footer: #c2c2c2;
    --description-footer: #B0B0B0;
    --text-color: #c2c2c2;
    --button-background: #1B1E22;
    --button-background-hover: #090A0B;
    --text-navigation: #24282E;
    --text-description: #B0B0B0;
    --logo: url(/img/logos/logoD.png);
    --text-color-list: #A3A6F5;
    --background-color-list: #14161a;
    --img-shadow-card: rgba(37, 26, 26, 0.1);
    --filter-brightness: brightness(50%);
    --brightness-hover: brightness(1);
}

.switch {
    position: absolute;
    width: 160px;
    height: 40px;
    margin-top: -20px;
    top: 50%;
    left: 70px;
    display: flex;
    justify-content: center;
    align-items: center;
}

.switch span {
    color: var(--text-navigation);
    font-size: 40px;
}

.a-new[type=checkbox] {
    outline: none;
    appearance: none;
    cursor: pointer;
    margin: 0 8px 0 8px;
    padding: 0 8px 0 8px;
    width: 140px;
    height: 40px;
    background: transparent;
    border: var(--text-navigation) 1px solid;
    border-radius: 100px;
    position: relative;
}

.a-new[type=checkbox]::after {
    content: '';
    position: absolute;
    top: 4px;
    left: 4px;
    width: 30px;
    height: 30px;
    background-color: var(--accent-color);
    border-radius: 100px;
    transition: var(--transition-dark-delay);
}

.a-new:checked[type=checkbox]::after {
    left: 28px;
}


/* Grid Layout */

.container {
    overflow-x: hidden;
    width: 100vw;
    height: 100vh;
    display: grid;
    grid-template-rows: 80px 1fr 1fr;
}

.container>div {
    display: grid;
}


/* Grid Layout: Columnas */

.content {
    grid-template-columns: 1fr 3fr 1fr;
}


/* HEADER */

.header {
    overflow: hidden;
    display: flex;
    position: relative;
    justify-content: center;
    border-bottom: var(--text-navigation) 1px solid;
    background: var(--background-color-header);
    z-index: 2;
    transition: var(--transition-dark-delay);
}

.header-content {
    width: 920px;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
}

.content-items {
    display: flex;
    font-size: 18px;
    font-weight: 400;
    list-style: none;
}

.items-c {
    color: var(--text-color);
    display: flex;
    justify-content: center;
    align-items: center;
    width: 80px;
    height: 80px;
    border-top: 4px transparent solid;
    border-bottom: 4px transparent solid;
    transition: var(--transition-dark-delay);
}

.h-img {
    height: 80px;
    width: 145px;
    background: var(--logo) no-repeat;
    background-position: center center;
    background-size: 88%;
}


/* Hover Effects */

.items-c:hover {
    background-color: var(--background-items-header);
}


/* ACTIVE */

.on {
    border-bottom: 4px solid var(--accent-color);
}


/* CENTER */

.content-center {
    color: var(--text-color);
    display: flex;
    flex-direction: column;
    align-items: center;
    padding-top: 80px;
}

.center-content {
    width: 920px;
    display: flex;
    flex-direction: column;
    align-items: center;
}


/* Cover */

img {
    border-radius: 4px;
    width: 460px;
    height: auto;
    margin: 16px 0 16px 0;
    filter: var(--filter-brightness);
    cursor: zoom-in;
    transition: var(--transition-dark-delay);
}

.cover {
    width: 100%;
    height: auto;
    display: flex;
    justify-content: center;
    flex-direction: column;
    align-items: center;
    overflow: hidden;
}

.cover img {
    width: 690px;
    height: auto;
}

.text-t {
    align-self: center;
    text-align: center;
    width: 920px;
}

.text-t h1 {
    font-family: 'PT Serif', serif;
    font-size: 44px;
    font-weight: 600;
}


/* Text */

.text-d {
    font-family: 'PT Serif', serif;
    color: var(--text-color);
    margin-bottom: 24px;
    display: flex;
    flex-direction: row;
    justify-content: center;
    font-size: 1.315rem;
    font-weight: 500;
}

.text-d p {
    margin: 8px 8px;
}

.text>h2 {
    font-size: 30px;
}

.text>h2,
.text>h3,
.text>h4,
.text>h5,
.text>h6 {
    margin: 16px 16px;
}

.text p:first-of-type {
    margin-top: 12px;
}

.author-date {
    display: flex;
    margin: 12px 0 8px 0;
    justify-content: center;
    align-items: baseline;
}

.author-date h3:nth-child(1) {
    font-size: 17px;
}

.author-date h3:nth-child(2) {
    margin-left: 10px;
    font-size: 12px;
    font-weight: 300;
}

.text {
    width: 920px;
    display: flex;
    align-items: center;
    flex-direction: column;
}

.text p {
    line-height: 2rem;
}

.img-text {
    width: 450px;
    margin: 16px 0 16px 0;
    border-radius: 2px;
}


/* LEFT */

.content-left {
    display: flex;
    justify-content: flex-end;
    border-right: 1px solid var(--text-navigation);
}

.left-content>h2 {
    color: var(--text-navigation);
    font-weight: 700;
    padding: 0 8px 0 8px;
    border-radius: 2px;
    letter-spacing: .8px;
    font-size: 22px;
    margin-left: -12px;
}

.left-content {
    position: fixed;
    padding-left: 12px;
    width: 302px;
    padding-top: 100px;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
}

.content-list {
    margin-top: 20px;
    margin-left: -12px;
    width: 302px;
    list-style: none;
    display: flex;
    flex-direction: column;
}

.list {
    display: flex;
    color: var(--text-description);
}

.list h2 {
    font-weight: 700;
    font-size: 22px;
    padding-left: 24px;
    align-self: center;
}

.list span {
    font-size: 40px;
}

.buttons {
    align-self: center;
    margin-bottom: 60px;
    width: 399px;
    display: flex;
    justify-content: center;
}

.button {
    justify-content: center;
    display: flex;
    text-align: center;
    align-items: center;
    height: 30px;
    width: 125px;
    transition: 300ms;
}

.buttons>a {
    color: white;
}

.b-all {
    margin-right: 8px;
    color: var(--accent-contrast);
    background-color: var(--button-background);
    border: var(--button-background-hover) 1px solid;
}

.b-edit {
    margin-right: 8px;
    background-color: #121417;
    border: #08090A 1px solid;
}

section {
    margin: 8px;
}


/* Hover Effects */

img:hover {
    filter: var(--brightness-hover);
    transform: scale(0.98);
    box-shadow: var(--img-shadow-card);
}

.list:hover {
    color: var(--text-color-list);
}

.b-all:hover {
    background-color: var(--button-background-hover);
}

.b-edit:hover {
    background-color: #08090A;
}


/* ACTIVE */

.active {
    color: var(--text-color-list);
    background-color: var(--background-color-list);
    transition: var(--transition-dark-delay);
}


/* RIGHT */

.content-right {
    display: flex;
    justify-content: flex-start;
    border-left: 1px solid var(--text-navigation);
}

.right-content>h2 {
    color: var(--text-navigation);
    font-weight: 700;
    padding: 0 8px 0 8px;
    border-radius: 2px;
    letter-spacing: .8px;
    align-self: center;
    font-size: 22px;
}

.right-content {
    position: fixed;
    padding-left: 12px;
    width: 302px;
    padding-top: 100px;
    display: flex;
    flex-direction: column;
    font-size: 16px;
}

.content-question:first-of-type {
    margin-top: 20px;
}

.content-question {
    margin-left: -12px;
    width: 302px;
    list-style: none;
    display: flex;
    flex-direction: column;
}

.content-question>a {
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
}

.question {
    font-weight: 800;
    border-left: 4px transparent solid;
    border-right: 4px transparent solid;
    font-weight: 600;
    color: var(--text-description);
    font-size: 22px;
    padding: 7px 0 7px 12px;
}


/* Hover Effects */

.question:hover {
    color: var(--text-color-list);
    background-color: var(--background-color-list);
    border-left: 4px var(--accent-color) solid;
}


/* FOOTER */

.footer {
    display: grid;
    grid-template-rows: 1fr 30px;
    background: var(--background-footer);
}

.footer-content {
    width: 920px;
    display: flex;
    justify-self: center;
    justify-content: space-between;
}

.footer-content>div {
    margin-top: 24px;
    margin-bottom: 24px;
    width: 270px;
    color: var(--color-footer)
}

.footer-content h2 {
    font-size: 18px;
    margin-bottom: 10px;
    text-decoration: none;
}

.content-1>p {
    color: var(--description-footer);
    font-size: 16px;
}

.content-2>a {
    color: var(--description-footer);
}

.fa-twitter,
.fa-instagram,
.fa-youtube {
    margin-right: 10px;
    color: white;
}

.footer-copyright {
    color: #929292;
    font-size: 12px;
    display: flex;
    align-items: center;
    justify-content: center;
    border-top: 1px solid #151515;
}


/* WEBKIT */


/* width */

::-webkit-scrollbar {
    width: 7px;
}


/* Track */

 ::-webkit-scrollbar-track {
    background: var(--background-color-header);
    transition: var(--transition-dark-delay);
}


/* Handle */

 ::-webkit-scrollbar-thumb {
    background: var(--accent-color);
    transition: var(--transition-dark-delay);
}


/* Handle on hover */

 ::-webkit-scrollbar-thumb:hover {
    background: var(--accent-border);
}