<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Blog</title>
    <link rel="stylesheet" href="/css/styles5.css">
    <link rel="shortcut icon" href="/img/logos/logo b.ico" />
</head>

<body>
    <div class="container">
        <!-- HEADER -->
        <div class="header">
            <nav class="header-content">
                <a href="./index.html">
                    <img src="/img/logos/logo.png" alt="logo" class="h-img">
                </a>
                <div class="content-items">
                    <h2 href="./index.html" class="items-c">EDITOR</h2>
                </div>
            </nav>
        </div>

        <div class="form">
            <form action="/articles" method="POST" class="group-form" enctype="multipart/form-data">
                <%- include('_form_fields') %>
            </form>
        </div>
    </div>
</body>

</html>